.nav_container{
    height: 90px;
    width: 100vw;
    padding: 0 2rem;
    background-color: transparent;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;

}
.name_div > span{
    color:#1C213B;
    font-size: 2rem;
    font-weight: 500;
}
span.special {
    color: #F95511; 
    margin-left: 1rem;
}
.action_div {
    display: flex;
}
.action_div a{
    margin: 0rem 2rem;
}
.menu_txt{
    color:#1C213B;
    font-size: 1.5rem;
    font-weight: 500;
    margin-right: 1.5rem;
    display: flex;
    align-items: center;
}
.demo_btn{
    background-color: #45B97F;
    border-radius: 18px;
    padding: .6rem 1.5rem;
    color:white;
    font-size: 1.5rem;
    font-weight: 500;
}
.system_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.system_name{
    color: #F95511; 
    font-size: 2rem;
    font-weight: 500;
}
.img_div{
    padding: 3rem 15rem;
}
.about_bg {
    background-image: url("../components/images/bg_about.png");
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    padding: 3rem 1rem;
    height: calc(100vh - 90px);
    overflow-y: scroll;
}
.dev_bg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dev_name{
    color: #1C213B; 
    font-size: 2rem;
    font-weight: 500;
    margin: 3rem 0;
}
.team_box{
    background: white;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.1), 3px 4px 2px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 1.5rem 2rem;
    display: flex;
}
.team_card{
    width: 33%;
    height: 50%;
    margin: 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.team_name{
    padding-top: 1rem;
    color: #1C213B; 
    font-size: 1.25rem;
    text-align: center;
}
.team_id{
    padding-top: 0.5rem;
    color: #1C213B; 
    font-size: 1.25rem;
}