.nav_container {
  height: 90px;
  width: 100vw;
  padding: 0 2rem;
  background-color: transparent;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}
.name_div > span {
  color: #1c213b;
  font-size: 2rem;
  font-weight: 500;
}
span.special {
  color: #f95511;
  margin-left: 1rem;
}
.action_div {
  display: flex;
}
.action_div a {
  margin: 0rem 2rem;
}
.menu_txt {
  color: #1c213b;
  font-size: 1.5rem;
  font-weight: 500;
  margin-right: 1.5rem;
  display: flex;
  align-items: center;
}
.demo_btn {
  background-color: #45b97f;
  border-radius: 18px;
  padding: 0.6rem 1.5rem;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
}
.system_container {
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.system_name {
  color: #f95511;
  font-size: 2rem;
  font-weight: 500;
}
.img_div {
  padding: 5rem 10rem;
}
.dev_bg {
  background: url("../components/images/bg_about.png") center bottom;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dev_name {
  color: #1c213b;
  font-size: 2rem;
  font-weight: 500;
}
.team_box {
  background: white;
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.1), 3px 4px 2px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 80%;
  height: 40%;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
}
.team_card {
  width: 33%;
  height: 50%;
  margin: 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team_name {
  padding-top: 1rem;
  color: #1c213b;
  font-size: 1.25rem;
  text-align: center;
}
.team_id {
  padding-top: 0.5rem;
  color: #1c213b;
  font-size: 1.25rem;
}
.container_tech {
  text-align: center;
  margin: 2rem 1.5rem;
  width: 250px;
}
.flexTech {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.tech_name {
  color: #45b97f;
  font-size: 2rem;
  font-weight: 500;
}
.tech_stacks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .flexTech {
    margin: 0 5rem;
  }
}