.nav_container{
    height: 10vh;
    width: 100vw;
    padding: 4vw;
    background-color: transparent;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
.name{
    color:#1C213B;
    font-size: 2rem;
    font-weight: 500;
}
.name_div{
    display: flex;
}
.menu_txt{
    color:#1C213B;
    font-size: 1.5rem;
    font-weight: 500;
    padding:1vh 2vw;
}
.demo_btn{
    background-color: #45B97F;
    border-radius: 18px;
    width: 8vw;
    height: 6vh;
    padding: 1vh 1.75vw;
    color:white;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: 1vw;
}