.bg_home {
  background-image: url("../components/images/bg_home.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_classify {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.name {
  font-size: 3rem;
  color: #1c213b;
}
.name_special {
  font-size: 48px;
  color: #f95511;
}
.detail {
  font-size: 1.5rem;
  padding: 2.5rem 0;
}
.btn_box {
  display: flex;
  justify-content: center;
}
.btn_getStarted {
  color: white;
  font-size: 20px;
  letter-spacing: 0.5px;
  border-radius: 15px;
  padding: 1rem 2.5rem;
  background-color: #45b97f;
}

@media screen and (max-width: 959px) {
  .photo_saly {
    display: none;
  }
  .container {
    margin-top: 1.5rem;
  }
}
