.home {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.bg_home {
  background: url("../components/images/bg_home.png");
  background-size: cover;
  background-position: right bottom;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.container {
  display: flex;
  padding-left: 10rem;
  align-items: center;
  background: url("../components/images/saly.png");
  background-size: cover;
  background-position: right top;
  height: calc(100vh - 90px);
}
.container_classify {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.name {
  font-size: 3rem;
  color: #1c213b;
}
.name_special {
  font-size: 48px;
  color: #f95511;
}
.detail {
  font-size: 1.5rem;
  padding: 2.5rem 0;
}
.btn_box {
  display: flex;
  justify-content: center;
}
.btn_getStarted {
  color: white;
  font-size: 20px;
  letter-spacing: 0.5px;
  border-radius: 15px;
  padding: 1rem 2.5rem;
  background-color: #45b97f;
}
@media screen and (max-width: 1200px) {
  .container {
    background: none;
    justify-content: center;
    padding: 0;
    margin-top: 1.5rem;
  }
}
