.bg_home{
  background: url("../components/images/bg_home.png") center ;
  width: 100vw;
  height: 100vh;
}
.container{
  display: flex;
  /* border: 2px greenyellow solid; */
  justify-content: center;
  align-items: center;
}
.container_classify{
    height: max-content;
    text-align: center;

}
.name{
  font-size: 48px;
  color:#1C213B;
}
.name_special{
  font-size: 48px;
  color: #F95511;
}
.detail{
  font-size: 24px;
  margin-bottom: 10%;
}
.btn_getStarted{
  color: white;
  font-size: 20px;
  letter-spacing: 0.5px;
  border-radius: 15px;
  padding: 1rem 2.5rem;
  background-color: #45B97F;
}