.nav_container {
  height: 90px;
  width: 100vw;
  padding: 0 2rem;
  background-color: transparent;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}
.name_div {
  color: #1c213b;
  font-size: 2rem;
  font-weight: 500;
  z-index: 20;
  display: flex;
  align-items: center;
  cursor: default;
}
span.special {
  color: #f95511;
  margin-left: 1rem;
}
.action_div {
  display: flex;
}
.action_div a {
  margin: 0rem 2rem;
}
.menu_txt {
  color: #1c213b;
  font-size: 1.5rem;
  font-weight: 500;
  margin-right: 1.5rem;
  display: flex;
  align-items: center;
}
.demo_btn {
  background-color: #45b97f;
  border-radius: 18px;
  padding: 0.6rem 1.5rem;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
}
.hamburger {
  display: none;
}
@media screen and (max-width: 767px) {
  .hamburger {
    width: 24px;
    height: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    z-index: 20;
    cursor: pointer;
  }
  .hamburger > span {
    width: 24px;
    height: 2px;
    background: #1c213b;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 1s ease;
  }
  .hamburger.open > span:nth-child(1) {
    transform: rotate(45deg) translate(6px, 6px);
  }
  .hamburger.open > span:nth-child(2) {
    display: none;
  }
  .hamburger.open > span:nth-child(3) {
    transform: rotate(-45deg) translate(3px, -3px);
  }
  .action_div {
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 90px;
    align-items: center;
    background: #fffcfc;
    z-index: -1;
    transition: opacity 0.5s ease;
    opacity: 0;
  }
  .action_div.open {
    display: flex;
    opacity: 1;
    z-index: 10;
  }
  .action_div > a {
    padding: 1rem 0;
    margin: .5rem 0;
    width: 120px;
    display: flex;
    justify-content: center;
  }
  .demo_btn {
    padding: 1rem;
  }
}
